:root {
  /*Colors*/

  /*Neutral*/
  --colour-neutral-grey-100: #f5f5f5;
  --colour-neutral-grey-200: #dfdfdf;
  --color-neutral-grey-300: #ccc;
  --color-neutral-grey-400: #484848;
  /*dark btn :hover*/
  --color-neutral-grey-500: #333;

  /*Light*/
  --color-neutral-white-100: #fff;

  /*Dark*/
  --color-neutral-black-100: #111;
  --color-neutral-black-200: #121212;
  --color-neutral-black-300: #000;

  /*Accent colors*/
  --color-accent-red: #ab6f59;
  --color-accent-green: #898c85;
  --color-accent-beige: #d5c5b6;
  --color-accent-brown: #9c7c60;
  --color-accent-grey-100: #dad5d2;
  --color-accent-grey-200: #dddddd;
  --color-accent-blue-100: #0077c1;
  --color-accent-blue-150: #0058a3;
  --color-accent-blue-160: #004f93;
  --color-accent-blue-170: #003e72;
  --color-accent-blue-200: #002952;

  /*Typography*/
  --font-weight-normal: 500;
  --font-weight-bold: 700;

  --fs-span-100: 0.75rem;

  --fs-normal-400: 0.78545rem;
  --fs-normal-500: 0.875rem;
  --fs-normal-600: 0.975rem;
  --lh-normal-500: 1.571rem;

  --fs-heading-600: 1.125rem;
  --lh-heading-600: 1.444rem;
  --fs-heading-650: 1.25rem;
  --lh-heading-650: 1.6rem;
  --fs-heading-700: 1.5rem;
  --lh-heading-700: 2.4rem;
  --fs-heading-800: 1.775rem;
  --lh-heading-800: 2.575rem;

  /*Transitions*/
  --animation-cubic: cubic-bezier(0.4, 0, 0.4, 1);

  /*Layout*/
  --gap: 30px;
}

/*
        Breadcrumbs
*/
.jk-breadcrumbs {
  padding: calc(var(--gap) * 0.5) 0;
}
.jk-breadcrumbs ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.jk-breadcrumbs li {
  white-space: nowrap;
}
.jk-breadcrumbs,
.jk-breadcrumbs a {
  font-size: var(--fs-normal-400);
  color: var(--color-neutral-black-100);
}
.jk-breadcrumbs a:hover,
.jk-breadcrumbs:hover {
  color: var(--color-neutral-grey-400);
}
.jk-breadcrumbs li:last-child {
  color: var(--color-neutral-grey-400);
}
.jk-breadcrumbs li:not(:last-child):after {
  content: "›";
  display: inline;
  font-size: var(--fs-normal-600);
  line-height: 1.125;
  margin: 0 0.5rem;
}
/*Responsive media query*/
@media (max-width: 900px) {
  .jk-breadcrumbs li:not(:nth-child(2n + 2)) {
    display: none;
  }
  .jk-breadcrumbs li:nth-child(n + 3)::after {
    display: none;
  }
  .jk-breadcrumbs li:nth-child(2)::before {
    content: "...";
    display: inline;
    font-size: var(--fs-normal-400);
    margin-right: 1rem;
  }
}

/*
    Product
*/
/*
      Product gallery
*/
.best-seller--badge {
  position: relative;
}
.best-seller--badge::after {
  content: "Toppsäljare";
  position: absolute;
  display: block;
  z-index: 10;

  padding: 1px 8px;
  background-color: #e00651;
  color: var(--color-neutral-white-100);
  font-weight: var(--font-weight-bold);
}
.product-gallery__container {
  display: flex;
  margin: 65px 0;
  gap: calc(var(--gap) * 1.3);
}
.product-gallery {
  display: flex;
}
.product-gallery--item {
  display: inline-block;
  scroll-snap-align: start;
  min-width: 100%;
  cursor: zoom-in;
}
.product-image {
  position: relative;
}
.product-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-video video {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 900px) {
  .product-gallery__container {
    gap: calc(var(--gap) * 2.3);
    flex-wrap: wrap;
  }
  .product-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: calc(var(--gap) * 0.825);
    row-gap: calc(var(--gap) * 0.625);
    flex: 2.5;
  }
  .product-gallery--item {
    grid-column: span 2;
    grid-row: span 2;
  }
  .product-sidebar {
    flex: 1;
    height: 80vh;
    padding-right: calc(var(--gap) + 10px);
  }
  .product-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
  }
}
@media (max-width: 900px) {
  .product-gallery__container {
    margin: 30px 0;
    flex-wrap: wrap; /*Responsive*/
  }
  .product-gallery {
    overflow-x: scroll;
    padding-bottom: var(--gap);
    scroll-snap-type: x mandatory;
    min-width: 100%; /*Responsive*/
  }
  .product-gallery::-webkit-scrollbar {
    height: 5px;
  }
  .product-gallery::-webkit-scrollbar-track {
    background: var(--color-accent-grey-200);
    border-radius: 10px;
  }
  .product-gallery::-webkit-scrollbar-thumb {
    background: var(--color-neutral-black-200);
    border-radius: 10px;
  }
  .product-sidebar {
    width: 100%;
  }
}
/*
      Product Sidebar
*/
.ikea-family {
  color: var(--color-accent-blue-100);
  font-size: var(--fs-normal-400);
}
.product-title {
  color: var(--color-neutral-black-100);
  text-transform: uppercase;
}
.product__short-description {
  font-size: var(--fs-normal-600);
}
.product-price {
  color: var(--color-neutral-black-100);
  font-size: var(--fs-heading-800);
  font-weight: var(--font-weight-bold);
}
.product-price__currency-symbol {
  color: var(--color-neutral-black-100);
  font-size: var(--fs-heading-600);
  font-weight: var(--font-weight-bold);
}
.sale-savings,
.price-excl-tax,
.sale-ending-in {
  font-size: var(--fs-normal-400);
}
/*Reviews*/
.jk-review-module {
  background: none;
  border: none;
  display: flex;
  min-width: 100%;
  align-items: center;
  padding: 10px 0 14px 0;
  cursor: pointer;
}
.review-module__label {
  padding-left: 6px;
  color: var(--color-neutral-grey-400);
  font-size: var(--fs-normal-400);
}
.jk-review-module:hover .review-module__label {
  text-decoration: underline;
}
.jk-review-module-svg {
  width: 1.5rem;
  height: 1.5rem;
}
.jk-review-module-star {
  margin: 0 -2px 0 -4px;
  display: inline-block;
}
/*Sold seperately*/
.jk-sold-separately {
  display: flex;
  gap: 4px;
  margin-bottom: var(--gap);
}
.jk-svg-icon {
  width: 1rem;
  height: 1rem;
}
.jk-sold-separately__icon {
  flex-shrink: 0;
}
.jk-sold-separately__text {
  font-size: var(--fs-normal-400);
}
/*Upsell*/
.jk-upsell {
  border-radius: 9px;
  border: 1px solid var(--color-neutral-grey-300);
  margin-bottom: var(--gap);
}
.jk-upsell__header {
  border-bottom: 1px solid var(--color-neutral-grey-300);
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}
.jk-upsell-header__title {
  font-size: var(--fs-normal-500);
  margin-bottom: 0;
}
.jk-upsell__content {
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;
}
.jk-product-compact__bottom-wrapper a,
.jk-product-compact__bottom-wrapper a:hover {
  color: initial;
  text-decoration: initial;
}
.jk-upsell__product {
  display: flex;
  flex: 10;
  align-items: center;
  gap: 10px;
}
.jk-upsell__img {
  width: 48px;
}
.jk-upsell__product:hover .jk-product-compact__title {
  text-decoration: underline;
}
.jk-product-compact__title {
  font-size: var(--fs-normal-400); /*ROLLSBO*/
}
.jk-product-compact__short-description {
  color: var(--color-neutral-grey-400);
  font-size: var(--fs-normal-400); /*LED ljuskälla E14...*/
}
.price-and-energy {
  display: flex;
  gap: 4px;
}
@media (max-width: 900px) {
  .price-and-energy {
    padding: 0 0 calc(var(--gap) - 20px) 0;
  }
}
.price-container {
  margin-bottom: calc(var(--gap) * 0.2);
  font-weight: var(--font-weight-bold);
}
.jk-price-value {
  font-size: var(--fs-normal-400);
}
.jk-price-currency,
.jk-price-unit {
  font-size: var(--fs-normal-400);
}
.jk-last-chance h2 {
  font-size: var(--fs-normal-500);
  margin-bottom: 0;
  color: var(--color-neutral-grey-400);
}
.jk-energy-symbol {
  display: flex;
}
.jk-energy-symbol__svg {
  padding-top: 3px;
  width: 32px;
}
.jk-energy-information-sheet .jk-energy-information-sheet__link {
  font-size: var(--fs-normal-400);
  text-decoration: underline;
  color: var(--color-neutral-grey-400);
}
.jk-energy-information-sheet .jk-energy-information-sheet__link:hover {
  text-decoration: underline;
  color: var(--color-neutral-black-100);
}
.jk-energy-information-sheet {
  display: inline-block;
}
.jk-upsell__quantity {
  display: flex;
  align-items: center;
}
.jk-upsell__add-to-cart {
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.jk-btn__inner {
  line-height: 0;
}
.jk-btn__inner svg {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}
.jk-upsell__add-to-cart::after {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  border-radius: 99px;
  top: 0;
  background-color: var(--color-accent-blue-150);
  transition: 300ms var(--animation-cubic);
  width: 100%;
  height: 100%;
}
.jk-upsell__add-to-cart:hover::after {
  background-color: var(--color-accent-blue-160);
}
.jk-upsell__add-to-cart:active::after {
  background-color: var(--color-accent-blue-170);
  transform: scale(0.97);
}
/*Availability*/
.jk-availability {
  margin-bottom: calc(var(--gap) + 6px);
}
.jk-availability__nav {
  display: flex;
  justify-content: space-between;
}
.jk-availability__inner {
  border: 1px solid var(--color-neutral-grey-300);
  padding: 1rem;
  border-radius: 9px;
}
.jk-availability__inner svg {
  height: 1.6rem;
  width: 1.6rem;
  color: var(--color-neutral-black-300);
}
.jk-availability__inner > div {
  display: flex;
  gap: calc(var(--gap) * 0.4);
}
.jk-availability__inner > div:not(:last-child) {
  padding-bottom: 14px;
}
.jk-availability__inner > div:not(:first-child) {
  padding-top: 14px;
}
.jk-availability__inner div div > strong {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 0.25);
}
.jk-availability__inner > div:not(:last-child) {
  border-bottom: 1px solid var(--color-neutral-grey-300);
}
.jk-status {
  display: inline-flex;
  padding-bottom: 3px;
}
.jk-status--green {
  color: #0a8a00;
}
.jk-status__dot {
  display: inline-block;
  background-color: currentColor;
  border-radius: 99px;
  width: 0.875rem;
  height: 0.875rem;
}
.jk-availability a {
  color: currentColor;
  text-decoration: underline;
}
.jk-availability__nav {
  padding: 10px 0;
}
.jk-availability__nav button {
  text-decoration: underline;
}
.jk-availability__nav,
.jk-availability__nav button {
  color: var(--color-neutral-black-100);
}
.jk-availability button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--color-neutral-grey-400);
}
.jk-availability__inner button {
  text-align: left;
  width: 100%;
}
.jk-availability__inner > div > div {
  width: 100%;
}
.jk-availability__inner strong span:not(.jk-status__dot):first-child {
  color: var(--color-neutral-black-300);
}
/*Add to cart*/
.jk-add-to-cart-and-wishlist {
  display: flex;
  gap: calc(var(--gap) * 0.5);
  margin-bottom: var(--gap);
}
.add-to-cart-module {
  width: 100%;
}
.jk-add-to-cart {
  background-color: var(--color-accent-blue-150);
  color: var(--color-neutral-white-100);
  border: none;
  cursor: pointer;
  padding: 18px 34px;
  border-radius: 99px;
  width: 100%;
  font-size: var(--fs-normal-500);
}
.jk-add-to-cart:hover {
  background-color: var(--color-accent-blue-160);
}
.jk-add-to-cart:active {
  background-color: var(--color-accent-blue-170);
}
.jk-wishlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: 1px solid black;
  padding: 0;
  border-radius: 99px;
  min-height: 56px;
  max-height: 56px;
  min-width: 56px;
  cursor: pointer;
}
.jk-wishlist-btn:hover {
  outline-offset: -1px;
  outline-width: 2px;
}
.jk-wishlist-btn:active {
  background-color: var(--color-accent-grey-200);
}
.jk-wishlist-btn span {
  width: 1.5rem;
  height: 1.5rem;
}
.jk-btn {
  white-space: nowrap;
  transition: transform 300ms var(--animation-cubic);
}
.jk-btn:active {
  transform: scale(0.97);
}
/*Assembly service*/
.jk-assembly-service {
  display: flex;
  gap: calc(var(--gap) * 0.35);
}
.jk-assembly-service svg {
  width: 1.5rem;
  height: 1.5rem;
}
.jk-assembly-service__label,
.jk-assembly-service a {
  color: var(--color-neutral-grey-400);
}
.jk-assembly-service a {
  text-decoration: underline;
}

/*
    Main product section
*/
/*Layout*/
.product-main__container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-auto-rows: minmax(0, 1fr);
}
.product-main {
  grid-column: 1 / 14;
}
@media (min-width: 900px) {
  .product-main__container {
    margin-top: calc(var(--gap) * -2);
  }
  .product-main {
    grid-column: 1 / 10;
    padding-right: calc(var(--gap) * 1.15);
  }
}
@media (min-width: 900px) {
  .product-main {
    padding-right: calc(var(--gap) * 3);
  }
}
/*Description & SKU*/
.product__description {
  font-size: var(--fs-heading-650);
  margin-bottom: var(--gap);
}
@media (min-width: 900px) {
  .product__description {
    max-width: 87.5%;
  }
}
.product__sku::before {
  content: "Artikelnummer";
  display: block;
  font-size: var(--fs-normal-400);
  margin-bottom: calc(var(--gap) * 0.3);
}
.sku__value {
  display: inline-block;
  background-color: var(--color-neutral-black-100);
  color: var(--color-neutral-white-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--fs-normal-400);
  padding: 2px 10px;
}
/*Modal*/
.product-details button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 36px 0;
  text-align: left;
  cursor: pointer;

  background: none;
  border: none;
  border-top: 1px solid var(--color-neutral-grey-300);
}
.product-details .btn-label {
  font-size: var(--fs-heading-700);
  font-weight: var(--font-weight-bold);
}
.product-details > button:hover .btn-label {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.product-details svg {
  width: 2rem;
  height: 2rem;
  margin-left: auto;
}
.product-reviews {
  flex-wrap: wrap;
}
.jk-reviews {
  min-width: 100%;
}
.product-details .jk-review-module {
  min-width: 110px;
  max-width: 110px;
  padding: 0;
}
.product-details .jk-review-module-star {
  margin: -2px -4px 0 -4px;
}
/*Product slider*/
@media (min-width: 1200px) {
  .jk-product-slider .carousel-slide {
    width: 21%;
  }
}
@media (max-width: 900px) {
  .jk-product-slider .carousel-slide {
    width: 29%;
    gap: 8px;
  }
}
@media (max-width: 600px) {
  .jk-product-slider .carousel-slide {
    width: 44%;
    gap: 20px;
  }
}

a[aria-label="Product images"] {
  margin-bottom: calc(var(--gap) * 1);
}
.jk-product-slider .carousel-slide {
  background-color: transparent;
}
.jk-product-slider .slide-content {
  padding: 0;
}
.jk-product-slider .slide__product-image {
  position: relative;
  padding-bottom: 100%;
}
.slide__product-image > div {
  position: absolute;
  width: 100%;
  top: 0;
}
.slide__product-image img {
  position: absolute;
}
.slide-product-image__front {
  z-index: 1;
}
.slide-product-image__hover {
  z-index: 2;
  opacity: 0;
  transition: 200ms var(--animation-cubic);
}
.slide__product-image:hover .slide-product-image__hover {
  opacity: 100;
}

.jk-slide-product__title {
  color: var(--color-neutral-black-100);
  font-size: var(--fs-normal-500);
  text-transform: uppercase;
}
.jk-slide-product__price-value {
  color: var(--color-neutral-black-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--fs-heading-700);
}
.jk-product-slider .jk-review-module {
  padding: 4px 0;
  margin-left: -2px;
}
.jk-slide-product__more-variants {
  font-size: var(--fs-normal-400);
  margin-bottom: calc(var(--gap) * 0.5);
}

.product-slide__actions-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.add-to-cart-btn {
  width: 44px;
  height: 44px;
  color: var(--color-neutral-white-100);
}
.add-to-cart-btn__inner::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  transition: transform 200ms var(--animation-cubic);
  background-color: var(--color-accent-blue-150);
  border-radius: 99px;
  width: 100%;
  height: 100%;
}
.add-to-cart-btn__inner:hover::after {
  background-color: var(--color-accent-blue-160);
}
.add-to-cart-btn__inner:active::after {
  background-color: var(--color-accent-blue-170);
  transform: translateX(-50%) translateY(-50%) scale(0.97);
}
.wishlisht-btn {
  width: 40px;
  height: 40px;
}
.wishlisht-btn__inner::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;

  transition: transform 200ms var(--animation-cubic);
  border-radius: 99px;
  width: 100%;
  height: 100%;
}
.wishlisht-btn__inner:hover::after {
  background-color: var(--colour-neutral-grey-100);
}
.wishlisht-btn__inner:active::after {
  background-color: var(--color-accent-grey-200);
  transform: translateX(-50%) translateY(-50%) scale(0.97);
}

.wishlist-btn_inner .product-slide__availability > div {
  display: flex;
  gap: calc(var(--gap) * 0.4);
}
.product-slide__availability {
  cursor: initial;
}
.product-slide__availability .jk-status {
  padding-bottom: 0;
  padding-top: 4px;
}
.product-slide__availability .jk-status__dot {
  width: 0.75rem;
  height: 0.75rem;
}
.product-slide__availability .jk-availability-content__title {
  font-size: var(--fs-normal-400);
}
.jk-product-slider .jk-review-module:hover .review-module__label {
  text-decoration: none;
}
a[aria-label="Product images"]:hover ~ .slide-content .jk-slide-product__title,
.slide-content .jk-link:hover .jk-slide-product__title {
  text-decoration: underline;
}

/*
    Showcase
*/
.showcase {
  display: flex;
  border-bottom: 1px solid var(--colour-neutral-grey-200);
  padding: calc(var(--gap) * 2.1) 0;
}
.showcase-heading,
.showcase-content {
  flex: 1;
}
.showcase-content {
  padding-right: var(--gap);
}
.showcase-heading h4 {
  font-size: var(--fs-normal-400);
  color: #767676;
  margin-bottom: calc(var(--gap) * 0.2);
}
@media (max-width: 600px) {
  .showcase {
    flex-direction: column;
  }
  .showcase-heading h4 {
    margin-bottom: calc(var(--gap) * 0.35);
  }
  .showcase-heading h2 {
    margin-bottom: calc(var(--gap) * 0.75);
  }
}

/*Visas även här - Grid*/
.jk-banner__container.jk-2-col {
  justify-content: center;
}
.jk-banner__container.jk-2-col .jk-banner__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  margin-bottom: calc(var(--gap) * 1.5);
}
.jk-banner__container.jk-2-col .jk-grid__item {
  grid-column: span 2;
  grid-row: span 4;
}
.jk-banner__container.jk-2-col .jk-grid__item img {
  border-radius: 8px;
}
.jk-banner__container.jk-2-col .jk-grid__item.jk-grid__item--square {
  grid-column: 3 / 5;
  grid-row: span 3;
}
.jk-banner__container.jk-2-col .jk-inspo__show-more-link {
  transition: transform 400ms var(--animation-cubic),
    scale 400ms var(--animation-cubic);
}

/*
    Senast besökta produkter
*/
@media (min-width: 900px) {
  .jk-product-slider.jk-recently-viewed .carousel-slide {
    width: 9%;
  }
}
@media (max-width: 900px) {
  .jk-product-slider.jk-recently-viewed .carousel-slide {
    width: 14%;
  }
}
@media (max-width: 700px) {
  .jk-product-slider.jk-recently-viewed .carousel-slide {
    width: 22%;
  }
}
.jk-product-slider.jk-recently-viewed .jk-carousel-container > a {
  top: 80px;
}
.jk-product-slider.jk-recently-viewed .jk-carousel-container {
  margin-bottom: var(--gap);
}

/*
    Utility classes
*/
.jk-svg-btn {
  display: block;
  background: none;
  border: none;
  padding: 0;
}
.jk-svg-btn__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}
.jk-svg-icon-sm {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  fill: currentColor;
}
a.jk-link {
  color: currentColor;
  text-decoration: initial;
}
button {
  cursor: pointer;
}
